[data-notify='icon'] {
    margin: 10px;
    float: left;
    padding-top: 11px;
}

.display_none{
	display: none;
}

.modal-xlg{
    max-width: 100%;
    width:95%
}

.modal-slg {
    max-width: 100%;
    width: 65%;
}

.modal-mlg{
    max-width: 100%;
    width:80%
}

.m-quick-sidebar {
    padding: 3px 15px 7px 10px !important;
}

.m-quick-sidebar.m-quick-sidebar--tabbed .m-tabs.m-tabs-line {
    margin: 0 0 10px 0 !important;
}

.fa-2x{
	font-size: 2rem;
}

.fa-1_5x{
	font-size: 1.5rem;
}

.rem-3{
    font-size:3rem;
}

@media (max-width: 1024px){
    
    .logo_css {
        width: 60%;
        padding: 0%;
    }
}

.cust_notes .cust_notes_foot{
	padding: 5px 10px;
    font-size: 10px;
    font-style: italic;
}

a.btn.btn-black {
    background-color: #2c2e3e;
    color: white;
}


.m-portlet .m-portlet__head {
    display: table;
    padding: 0;
    width: 100%;
    padding: 0 .9rem !important;
    height: 2.6rem !important;
}




.fileinput {
	margin-bottom: 9px;
	display: inline-block;
}
.fileinput .uneditable-input {
	display: inline-block;
	margin-bottom: 0px;
	vertical-align: middle;
	cursor: text;
}
.fileinput i + .fileinput-filename,
.fileinput .btn + .fileinput-filename {
	padding-left: 5px;
}
.fileinput.fileinput-exists .close {
	opacity: 1;
	color: #dee0e4;
	position: relative;
	top: 3px;
	margin-left: 5px;
}
.fileinput .thumbnail {
	overflow: hidden;
	display: inline-block;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
}
.fileinput .thumbnail[data-trigger="fileinput"] {
	cursor: pointer;
}
.fileinput .thumbnail:before,
.fileinput .thumbnail:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}
.fileinput .thumbnail:after {
	clear: both;
}
.fileinput .thumbnail > img {
	max-height: 100%;
	display: block;
}
.fileinput .btn {
	vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
	display: none;
}
.fileinput-inline .fileinput-controls {
	display: inline;
}
.fileinput .uneditable-input {
	white-space: normal;
}
.fileinput-new .input-group .btn-file {
	border-radius: 0 3px 3px 0;
}
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-sm {
	border-radius: 0 2px 2px 0;
}
.fileinput-new .input-group .btn-file.btn-lg {
	border-radius: 0 3px 3px 0;
}
.form-group.has-warning .fileinput .uneditable-input {
	color: #574802;
	border-color: #ffd78a;
}
.form-group.has-warning .fileinput .fileinput-preview {
	color: #574802;
}
.form-group.has-warning .fileinput .thumbnail {
	border-color: #ffd78a;
}
.form-group.has-error .fileinput .uneditable-input {
	color: #ac1818;
	border-color: #ffafbd;
}
.form-group.has-error .fileinput .fileinput-preview {
	color: #ac1818;
}
.form-group.has-error .fileinput .thumbnail {
	border-color: #ffafbd;
}
.form-group.has-success .fileinput .uneditable-input {
	color: #045702;
	border-color: #b4e8a8;
}
.form-group.has-success .fileinput .fileinput-preview {
	color: #045702;
}
.form-group.has-success .fileinput .thumbnail {
	border-color: #b4e8a8;
}
.input-group-addon:not(:first-child) {
	border-left: 0;
}
.fileinput .uneditable-input,
.fileinput-new .input-group .btn-file {
	display: table-cell !important;
}


.thum_img_outer { position: relative;}
.thum_img_outer a {
	position: absolute;
	right: 4px;
	top: 4px;
	transiton: all 0.5s ease 0s;
}

.thum_img_outer a { display: none;}
.thum_img_outer:hover a { display: block;}
#uploadifive-upload_images_single ,#uploadifive-upload_pdf { width: auto !important; height: inherit !important; cursor: pointer; }


.fileinput, .page-container .main-content{
	margin-bottom: 0px;
}

.m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__group, .m-form.m-form--fit .m-form__heading {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* TASK COMPLETED */
.task_completed{
	text-decoration: line-through;
}

.extra_z_index{
	z-index: 1060 !important;
	top: 10%;
}

.modal_over_modal_backdrop{
	z-index: 1052 !important;
}

.m-form.m-form--group-seperator-dashed .m-form__group {
    border-bottom: none !important;
}

.dataTables_info {
    display: none;
}


.m-stack.m-stack--ver.m-stack--desktop{
	z-index: 99999;
}

.m-stack.m-stack--general.m-stack--ver>.m-stack__item{
	z-index: 0000;
}

.note-editor.note-frame .note-editing-area .note-editable{
	margin-top: 25px;
    border: 1px solid #ccc;
}

.height_150_scroll{
	max-height: 150px;
	overflow-y: scroll;
}

.purple_red_bg{
    background: #282733 !important;  
}

.btn.m-btn--hover-primary.active, .btn.m-btn--hover-primary:active, .btn.m-btn--hover-primary:focus, .btn.m-btn--hover-primary:hover, .show>.btn.m-btn--hover-primary.dropdown-toggle {
    border-color: #5867dd !important;
    color: #fff !important;
    background-color: #5867dd !important;
}