[data-notify='icon'] {
    margin: 10px;
    float: left;
    padding-top: 11px;
}

.modal-xlg{
    max-width: 100%;
    width:95%
}

.m-quick-sidebar {
    padding: 3px 15px 7px 10px !important;
}

.m-quick-sidebar.m-quick-sidebar--tabbed .m-tabs.m-tabs-line {
    margin: 0 0 10px 0 !important;
}

.rem-3{
    font-size:3rem;
}

.m-form.m-form--group-seperator .m-form__group, .m-form.m-form--group-seperator-dashed .m-form__group {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.modal .modal-content .modal-footer {
    padding: 10px !important;
}

.modal .modal-content .modal-header {
    padding: 10px !important;
}

.modal .modal-content .modal-body {
    padding: 10px !important;
}

.modal-header .close {
    padding: 0.5rem !important;
    margin: 0 !important;
}

.logo_css {
     width: 90%;
    padding: 0%;
}


@media (max-width: 1024px){
    
    .logo_css {
        width: 60%;
        padding: 0%;
    }
}

.cust_notes .cust_notes_foot{
	padding: 5px 10px;
    font-size: 10px;
    font-style: italic;
}

a.btn.btn-black {
    background-color: #2c2e3e;
    color: white;
}
