[data-notify='icon'] {
    margin: 10px;
    float: left;
    padding-top: 11px;
}

.modal-xlg{
    max-width: 100%;
    width:95%
}

.m-quick-sidebar {
    padding: 3px 15px 7px 10px !important;
}

.m-quick-sidebar.m-quick-sidebar--tabbed .m-tabs.m-tabs-line {
    margin: 0 0 10px 0 !important;
}